@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    --mainfont: 'Merriweather';
    background-color: rgb(79, 128, 184);
}

body {
    display: flex;
    font-family: var(--mainfont);
    justify-content: center;
}

#task-list {
    display: flex;
    flex-direction: column;
    width: auto;
}

#header {
    display: flex;
    width: 100vw; 
    align-items: center;
    justify-content: center;
    /* background-color:rgb(110, 203, 227); */
    font-family: var(--mainfont);
    font-size: 1rem;
    flex-direction: column;
    padding: 10px;
}

#new-task, #new-task-submit{
    border-radius: 7px;
    border: none;
    padding: 5px;
}

#new-task-submit {
    cursor: pointer;
}

#tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}
.task {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-family: var(--mainfont);
    font-size: 1rem;
    box-shadow: 0px 0px 5px -2px black ;
    border-radius: 7px;
    margin-bottom: 10px;

}

.task > .text {
    padding: 5px;
    border: none;
    background-color: inherit;
    font: inherit;
    cursor: default;
}

.task > .text:not(:read-only) {
    color: white;
}

.task > .text:focus {
    outline: none;
}

.task > .actions {
    padding: 5px;
}

.task > .actions:hover {
    cursor:pointer;
}
